.container {
  max-width: 900px;
  margin: 0 auto;
}
.lists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  @media screen and (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}
