<div class="container">
  <app-film-card *ngIf="currentFilm" (close)="currentFilm = null"></app-film-card>
  <div *ngIf="!listLoading; else preloader" class="lists">
    <app-sw-list
      (itemClicked)="currentFilm = $event"
      [title]="'Films'"
      [items]="dataService.films.results"
      [itemsAmount]="dataService.films.count"
      [firstField]="'title'"
      [secondField]="'director'"
      [thirdField]="'release_date'" >
    </app-sw-list>
    <app-sw-list
      (itemClicked)="currentFilm = $event"
      [title]="'People'"
      [itemsAmount]="dataService.people.count"
      [items]="dataService.people.results"
      [firstField]="'name'"
      [secondField]="'gender'"
      [thirdField]="'hair_color'" >
    </app-sw-list>
    <app-sw-list
      (itemClicked)="currentFilm = $event"
      [title]="'Starships'"
      [itemsAmount]="dataService.starships.count"
      [items]="dataService.starships.results"
      [firstField]="'name'"
      [secondField]="'starship_class'"
      [thirdField]="'consumables'" >
    </app-sw-list>
  </div>
  <ng-template #preloader>
    <app-preloader></app-preloader>
  </ng-template>
</div>
